# Baseline: average sales

In [21]:
# Load data
import pandas as pd
train_data = pd.read_csv("data/newtrain.csv")

In [22]:
train_data.tail()

,Unnamed: 0,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday
435832,540768,2014-04-30,743.0,3.0,4680.0,1.0,1.0,0,0.0
435833,540769,2014-04-30,744.0,3.0,8833.0,1.0,1.0,NaN,0.0
435834,540770,2014-04-30,745.0,3.0,10644.0,1.0,1.0,0,0.0
435835,540771,2014-04-30,746.0,3.0,8316.0,1.0,1.0,0,0.0
435836,540773,2014-04-30,741.0,3.0,12208.0,1.0,1.0,0,0.0

In [23]:
# define evaluation metrics
def metric(preds, actuals):
    preds = preds.reshape(-1)
    actuals = actuals.reshape(-1)
    assert preds.shape == actuals.shape
    return 100 * np.linalg.norm((actuals - preds) / actuals) / np.sqrt(preds.shape[0])

In [33]:
import numpy as np
# train set
mean = train_data['Sales'].mean()
preds = np.full(len(train_data), mean)
rmspe = metric(preds, np.array(train_data['Sales']))

print(f'metric newtrain={rmspe}')

metric newtrain=62.18357121836456

In [35]:
# validation set
val_data = pd.read_csv("data/validation.csv")
preds = np.full(len(val_data), mean)
rmspe = metric(preds, np.array(val_data['Sales']))

print(f'metric valid={rmspe}')

metric valid=55.175812777068025

# Create new categories for stores

In [44]:
means = train_data.groupby(['Store']).mean()['Sales']
print(means)
limits = [0, 5000, 7500, 10000, 10000000]
mapping = []
for l in limits:
    for m in means:
        print(m)

train_data[train_data['Sales'] > 5000, 'Store_cat'] = "m"
cat.mask(cat > 7500, "h")

cat = train_data['Store_cat']
cat.mask(cat.mean() > 5000, "m")
cat.mask(cat.mean() > 7500, "h")
cat.mask(cat > 10000, "vh")
train_data.head()

Store
1.0        4825.704485
2.0        4863.668407
3.0        6909.002660
4.0        9371.876640
5.0        4656.209302
              ...
1111.0     5493.231579
1112.0    11131.632275
1113.0     6475.711688
1114.0    20091.239362
1115.0     5729.763636
Name: Sales, Length: 1115, dtype: float64

TypeError: 'float' object is not subscriptable