# Baseline: average sales

In [6]:
# Load data
import pandas as pd
train_data = pd.read_csv("data/newtrain.csv")

In [7]:
train_data.tail()

,Unnamed: 0,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday
435832,540768,2014-04-30,743.0,3.0,4680.0,1.0,1.0,0,0.0
435833,540769,2014-04-30,744.0,3.0,8833.0,1.0,1.0,NaN,0.0
435834,540770,2014-04-30,745.0,3.0,10644.0,1.0,1.0,0,0.0
435835,540771,2014-04-30,746.0,3.0,8316.0,1.0,1.0,0,0.0
435836,540773,2014-04-30,741.0,3.0,12208.0,1.0,1.0,0,0.0

In [8]:
import numpy as np
mean = train_data['Sales'].mean()
std = train_data['Sales'].std()
print(f'mean sales={mean}, std={std}')

mean sales=6802.905730812207, std=3086.37471195454