# Generate validation set

In [2]:
# Load data
import pandas as pd
train_data = pd.read_csv("data/train.csv")

/home/sabine/miniconda3/envs/minicomp/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# drop column "Customers" as it won't be in the test dataset
train_data.drop(columns = "Customers", inplace=True)
train_data = train_data[train_data['Sales'] > 0]

In [7]:
validation_set = train_data[train_data['Date'] > '2014-04-30']
newtrain_set = train_data[train_data['Date'] <= '2014-04-30']

In [15]:
print(f"New train set length: {len(newtrain_set)}")
print(f"New validation set length: {len(validation_set)}")
validation_set.to_csv("data/newtrain.csv", header=True)
newtrain_set.to_csv("data/validation.csv", header=True)

New train set length: 435837
New validation set length: 77119

In [9]:
validation_set.head()

,Date,Store,DayOfWeek,Sales,Open,Promo,StateHoliday,SchoolHoliday
540801,2014-05-01,353.0,4.0,9336.0,NaN,1.0,a,0.0
540889,2014-05-01,335.0,4.0,10770.0,1.0,1.0,a,0.0
540921,2014-05-01,512.0,4.0,7793.0,1.0,1.0,a,0.0
540934,2014-05-01,494.0,4.0,9561.0,1.0,1.0,a,0.0
541003,2014-05-01,423.0,4.0,15078.0,1.0,NaN,a,0.0